.img-hover-holder-4.bmargin {
  clear: both;
  list-style: outside none none;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
}

.img-hover-4 {
  float: left;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
  transition: all 0.3s ease-out 0s;
  width: 300px;
  z-index: 0;
}

.extra-hover-img {
  max-width: 100%;
}

.img-hover-4 .text-box h5 {
  margin: 5px;
}

.text-box > a {
  text-decoration: none;
}

.img-hover-4 .text-box {
    background-color: rgba(0, 0, 0, 0.7);
    float: left;
    height: 100%;
    margin: 0;
    position: absolute;
	text-align: center;
    top: 180px;
    transition: all 0.3s ease-out 0s;
    width: 100%;
    z-index: 1;
}
.img-hover-4:hover .text-box {
    top: 0;
}

.twitter-widget-icon .title {
    float: right;
    margin: 0;
    padding: 5px 0 0;
    width: 85%;
}
.testimonials-widget {
    float: left;
    margin: 0 0 40px;
    padding: 0;
    width: 100%;
}
.testimonials-widget .text-box {
    border: 1px solid #e4e4e4;
    float: left;
    margin: 0 0 25px;
    padding: 30px;
    width: 100%;
}
.testimonials-widget .image {
    border-radius: 100%;
    float: left;
    height: 100px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100px;
}
.testimonials-widget .info {
    display: block;
    margin: 0;
    padding: 0 0 0 120px;
    text-align: left;
}
@media only screen and (min-width: 1000px) and (max-width: 1169px) {
}
@media only screen and (min-width: 768px) and (max-width: 999px) {
.img-hover-holder-4 {
    width: 80%;
}
}
@media only screen and (min-width: 640px) and (max-width: 767px) {

.img-hover-holder-4 {
    width: 46%;
}
}
@media only screen and (min-width: 480px) and (max-width: 639px) {
.img-hover-holder-4 {
    width: 63%;
}
}
@media only screen and (max-width: 479px) {
}
